<div class="calendar-container">
    <div class="page-header">
        <h1>Next Events</h1>
        <span class="current-date">{{ currentDate | date:'EEE, MMMM d' }}</span>
    </div>

    <div *ngIf="isLoading" class="feedback-message">
        <p>Carregando eventos...</p>
    </div>

    <div *ngIf="error" class="feedback-message error">
        <p>{{ error }}</p>
    </div>

    <div *ngIf="!isLoading && !error" class="events-grid">

        <div class="event-card" *ngFor="let event of events">

            <div *ngIf="event.image" class="card-image-container">
                <img [src]="event.image.urls.medium" alt="Imagem para {{ event.title }}"
                    (error)="updateImageOnError($event)">
            </div>

            <div class="card-content">
                <h3 class="card-title">{{ event.title || 'Evento Sem Título' }}</h3>

                <p class="card-date">
                    <i class="material-icons">today</i>
                    {{ event.start_datetime | date: 'dd/MM/yyyy • HH:mm' }}
                </p>

                <div class="card-description" [innerHTML]="event.description_short"></div>
            </div>

        </div>
    </div>
</div>