<div class="calendar-container">
    <div class="page-header">
        <span class="current-date">{{ currentDate | date:'EEE, MMMM d' }}</span>
    </div>

    <div *ngIf="isLoading" class="feedback-message">
        <p>Carregando eventos...</p>
    </div>

    <div *ngIf="error" class="feedback-message error">
        <p>{{ error }}</p>
    </div>

    <div class="controls-container">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search by title..." [(ngModel)]="searchTerm"
                (ngModelChange)="applyFiltersAndSort()" />
        </span>


        <div class="category-filter" *ngIf="categories.length > 0">
            <label for="category">Category:</label>
            <p-dropdown id="category" [options]="categoryOptions" [(ngModel)]="selectedCategory"
                (onChange)="applyFiltersAndSort()">
            </p-dropdown>
        </div>



        <div class="sort-box">
            <label for="sort">Sort by:</label>
            <p-dropdown id="sort" [options]="sortOptions" [(ngModel)]="sortOrder" (onChange)="applyFiltersAndSort()">
            </p-dropdown>
        </div>

        <div class="date-picker">
            <label for="dateFilter">Filter by date:</label>
            <p-calendar id="dateFilter" [(ngModel)]="selectedDate" (onSelect)="onDateChange()" [showIcon]="true"
                dateFormat="yy-mm-dd" placeholder="Select a date">
            </p-calendar>
        </div>
    </div>


    <div *ngIf="!isLoading && !error" class="events-grid">

        <div class="event-card" *ngFor="let event of filteredEvents">

            <div *ngIf="event.image" class="card-image-container">
                <img [src]="event.image.urls.medium" alt="Imagem para {{ event.title }}"
                    (error)="updateImageOnError($event)">
            </div>

            <div class="card-content">
                <h3 class="card-title">{{ event.title || 'Evento Sem Título' }}</h3>

                <p class="card-date">
                    <i class="material-icons">today</i>
                    {{ event.start_datetime | date: 'dd/MM/yyyy • HH:mm' }}
                </p>

                <div class="card-description" [innerHTML]="event.description_short"></div>
            </div>

        </div>
    </div>
</div>