/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  height: 100%;
  margin: 0;
}

body {
  /* USA A FONTE PADRÃO DO TEMA */
  font-family: var(--font-family);

  /* USA A COR DE FUNDO PADRÃO DO TEMA (um cinza bem claro) */
  background-color: var(--surface-ground);

  /* USA A COR DE TEXTO PADRÃO DO TEMA */
  color: var(--text-color);
}
