/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}

:root {
  --header-height: 60px;
  --footer-height: 60px;
}

body {
  background: linear-gradient(180deg, #f4fdf6 0%, #ffffff 100%);
  /* USA A COR DE FUNDO PADRÃO DO TEMA */
  background-color: var(--surface-ground);

  /* USA A COR DE TEXTO PADRÃO DO TEMA */
  color: var(--text-color);
}

main {
  display: block;
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow-y: auto;
  padding-bottom: var(--footer-height); /* garante espaço para o footer */
}
/* Header fixo */
app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1000;
}

/* Footer fixo */
app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  z-index: 1000;
}